.filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter__iput {
  width: 200px;
  padding: 5px;
  border: 1px solid rgb(4, 4, 92);
  margin-bottom: 15px;
}

.filter__iput:focus {
  border: 2px solid rgb(4, 4, 92);
}
